.cabal-sandbox
cabal.sandbox.config
.stack-work
idx/
dist/
dist-newstyle/
log/
doc/
*.swp
*.swo
*.swn
*.swm
*.o
*.hi
*.dyn_hi
*.dyn_o
test/test
test/should
doc/*.html
doc/*.css
doc/*.js
doc/*.png
doc/*.gif
mk/toplibs
eg/minimal
eg/should
README.html
